*~
*.la
.libs
*.lo
*.o
*.so

.deps
Makefile.in

/aclocal.m4
/aminclude_static.am
/autom4te.cache
/bin/cob-config
/bin/cob-config.1
/bin/cobcrun
/bin/cobcrun.1
/bin/cobfile
/bin/gcdiff
/_build
/cobc/cobc
/cobc/cobc.1
/cobc/parser.c
/cobc/parser.h
/cobc/parser.output
/cobc/pplex.c
/cobc/ppparse.c
/cobc/ppparse.h
/cobc/scanner.c
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/cbchelp.tex
/doc/cbconf.tex
/doc/cbexceptions.tex
/doc/cbhelp.tex
/doc/cbintr.tex
/doc/cbmnem.tex
/doc/cbrese.tex
/doc/cbrunt.tex
/doc/cbsyst.tex
/doc/gnucobol.info
/doc/stamp-vti
/doc/version.texi
/libtool
/Makefile
/po/en@boldquot.po
/po/en@quot.po
/po/*.gmo
/po/POTFILES
/pre-inst-env
/stamp-h1
/tarstamp.h
/tests/atconfig
/tests/atlocal
/tests/cobol85/copy/
/tests/cobol85/copyalt/
/tests/cobol85/DB/
/tests/cobol85/EXEC85
/tests/cobol85/EXEC85.cob
/tests/cobol85/IC/
/tests/cobol85/IF/
/tests/cobol85/IX/
/tests/cobol85/NC/
/tests/cobol85/newcob.val
/tests/cobol85/OB/
/tests/cobol85/RL/
/tests/cobol85/RW/
/tests/cobol85/SG/
/tests/cobol85/SM/
/tests/cobol85/SQ/
/tests/cobol85/ST/
/tests/cobol85/summary.log
/tests/package.m4
/tests/run_prog_manual.sh
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
/tests/testsuite_manual
