#include <windows.h>

#include "tarstamp.h"
#include "config.h"

#define COB_WITHOUT_EXCEPTIONS
#define COB_WITHOUT_JMP
#include "libcob/common.h"
#define VCS_REF 4463

#define STRINGIZE_DETAIL_(v) #v
#define STRINGIZE(v) STRINGIZE_DETAIL_(v)

//
// Version Information resources
//

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
//LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO    VERSIONINFO
  FILEVERSION      __LIBCOB_VERSION,__LIBCOB_VERSION_MINOR,__LIBCOB_VERSION_PATCHLEVEL,PATCH_LEVEL
  PRODUCTVERSION   __LIBCOB_VERSION,__LIBCOB_VERSION_MINOR,__LIBCOB_VERSION_PATCHLEVEL,PATCH_LEVEL

  FILEOS           VOS_NT_WINDOWS32

  FILETYPE         VFT_DLL
  FILESUBTYPE      VFT2_UNKNOWN // not used for VFT_DLL

  FILEFLAGSMASK    VS_FFI_FILEFLAGSMASK
  FILEFLAGS        (VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE|VER_DEBUG) // VS_FF_PATCHED

{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
    {
      // VALUE "Comments",         "Free for general use, including commercial (distribution bound to GPL).\0"
      // VALUE "CompanyName",      "No Company\0"
      VALUE "FileDescription",  PACKAGE_NAME " runtime, supporting most COBOL dialects with lots of extensions"
      VALUE "FileVersion",      STRINGIZE(__LIBCOB_VERSION)"."STRINGIZE(__LIBCOB_VERSION_MINOR)"."STRINGIZE(__LIBCOB_VERSION_PATCHLEVEL)"."STRINGIZE(VCS_REF)
      VALUE "InternalName",     "libcob"
      VALUE "LegalCopyright",   "Copyright (C) 2001-2021 Free Software Foundation, Inc."
      VALUE "LegalTrademarks",  "Runtime: GNU Lesser General Public License v3 - see COPYING.LESSER,\x0ADocumentation: GNU Free Documentation License."
      VALUE "OriginalFilename", "libcob.dll"
      VALUE "ProductName",      PACKAGE_NAME " runtime library"
      VALUE "ProductVersion",   PACKAGE_VERSION "." STRINGIZE(COB_NUM_TAR_DATE) " - r" STRINGIZE(VCS_REF)
      // Should be set if VS_FF_PRIVATEBUILD is set:
      VALUE "PrivateBuild",     "Built from SVN (trunk)"
      // Should be set if VS_FF_SPECIALBUILD is set (including description what it was build for):
      VALUE "SpecialBuild",     ""

      /* Non-Standard entries */
      VALUE "Build",            "Nov 2021"
      VALUE "Developer",        "Keisuke Nishida, Roger While, Ron Norman, Simon Sobisch, Edward Hart and many others (see AUTHORS and THANKS)"
      VALUE "Support",          "https://www.gnu.org/software/gnucobol/"
      VALUE "Users",            "Unlimited."
    } // BLOCK "040904E4"
  } // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  } // BLOCK "VarFileInfo"
}

